.container {
  max-width: 100%;
  padding: 0;
}

.w-15p {
  width: 15%;
}
.w-25p {
  width: 25%;
}
.w-50p {
  width: 50%;
}
.w-75p {
  width: 75%;
}

.d-b {
  display: block
}
.d-ilb {
  display: inline-block;
}
.va-t {
  vertical-align: top;
}
.va-c {
  vertical-align: center;
}
.ta-r {
  text-align: right;
}

.c-g {
  background-color: gray;
}
.c-lg {
  background-color: lightgreen;
}
.c-lr {
  background-color: lightcoral;
}
.c-y {
  background-color: yellow;
}

/* AssemblyDetail Sections */
.background {
  background-color: lightgray;
}
.icon {
  font-size: xx-large;
  display: inline-block;
  margin: 1% 0 1% 0;
}
.subHeader {
  padding: 1% 1% 1% 1%;
  margin: 0 0 1% 0;
  background-color: black;
  color: blue;
}
.desc {
  padding: 1% 1% 1% 1%;
  margin: 0 auto 0 auto;
  width: 75%;
  background-color: cadetblue;
}
.descChildB  {
  display: block;
  margin-left: 13%;
}
#link {
  color:darkblue;
}
.descChildI  {
  display: inline-block;
  margin-left: 2%;
}

.teammates {
  padding: 1% 1% 1% 1%;
  width: 85%;
  margin: 1% auto 1% auto;
  text-align: center;
  background-color: rgb(40, 82, 83);
  color:white;
}
.statusInput {
  color: white;
  display: inline-block;
  width: 15%;
}
.statusInputDefault {
  color: red;
  display: inline-block;
  width: 15%;
}
.editDelete {
  padding: 1% 1% 1% 1%;
  width: 35%;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: rgb(92, 131, 133);
}

input, textarea{
  background-color: lightgray;
  color: black;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    black;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    black;
}

.serverValError {
  color: red;
  display: inline-block;
  margin-left: 5%;
  font-weight: bold;
}
.clientValError {
  color: blue;
  display: inline-block;
  margin-left: 5%;
  font-weight: bold;
}

.production {
  color: red;
}