.container {
  max-width: 100%;
  padding: 0;
}

.w-15p {
  width: 15%;
}
.w-25p {
  width: 25%;
}
.w-50p {
  width: 50%;
}
.w-75p {
  width: 75%;
}

.d-b {
  display: block
}

.d-ilb {
  display: inline-block;
}

.c-g {
  background-color: gray;
}
.c-lg {
  background-color: lightgreen;
}
.c-lr {
  background-color: lightcoral;
}
.c-y {
  background-color: yellow;
}

.serverValError {
  color: red;
  display: inline-block;
  margin-left: 5%;
  font-weight: bold;
}
.clientValError {
  color: blue;
  display: inline-block;
  margin-left: 5%;
  font-weight: bold;
}

.production {
  color: red;
  margin-top: 5%;
}